{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
    <h1>About the Project</h1>
    <div class="paragraphs">
        <p>This project utilizes Triple Crown horse race data from the years 2005 to 2016
        and track conditions for those specific races to display an intuitive dashboard of
        statistics and graphics. The machine learning aspect of this dashboard allows for
        users to predict if an odds long shot in a race has an increased chance to win. The
        algorithm takes into account the history of Triple Crown long shots, the current
        weather, and the track conditions.</p>
    </div>

{% endblock %}